<div class="bar bar-header bar-balanced">
	<i class="icon ion-home font-home" ng-click="goHome()"></i>
	<h1 class="title">Expense Settings</h1>
</div>
<ion-content>
<div class="list monthly-view">
	<a ng-click="proceed('backup-expenses')" class="item item-icon-left"
		href="#"> <i class="icon ion-arrow-swap"></i> Import/Export Data </a> 
		<a ng-click="proceed('manage-defaults')"
		class="item item-icon-left" href="#"> <i
		class="icon ion-bookmark"></i> Manage Default Expenses </a> 
		<a ng-click="proceed('manage-defaults')"
		class="item item-icon-left" href="#"> <i
		class="icon ion-paintbrush"></i> Change Theme </a> 
		<a ng-click="proceed('view-yearly-dashboard')"
		class="item item-icon-left" href="#"> <i
		class="icon ion-locked"></i> Secure Login </a>
</div>
</ion-content>
