<ion-view view-title="Expenses"> <ion-nav-bar
	class="bar-balanced" align-title="center"> </ion-nav-bar> <ion-content>
<div class="list">
	<a ng-click="proceed('edit-view-daily-expenses')"
		class="item item-icon-left" href="#"> <i class="icon ion-compose"></i>
		Edit/View Daily Expenses </a> <a
		ng-click="proceed('view-monthly-expenses')"
		class="item item-icon-left" href="#"> <i
		class="icon ion-clipboard"></i> View Monthly Expenses </a> <a
		ng-click="proceed('view-monthly-dashboard')"
		class="item item-icon-left" href="#"> <i
		class="icon ion-pie-graph"></i> Monthly Dashboard </a> <a
		ng-click="proceed('view-yearly-dashboard')"
		class="item item-icon-left" href="#"> <i
		class="icon ion-pie-graph"></i> Yearly Report Dashboard </a> <a
		class="item item-icon-left" href="#"> <i class="icon ion-compose"></i>
		Other Expenses </a> <a ng-click="proceed('expenses-settings')"
		class="item item-icon-left" href="#"> <i class="icon ion-settings"></i>
		Settings </a>
</div>
</ion-content> 
<div class="bar bar-footer bar-balanced">
  <div class="title text-right" style="float:right;font-size:14px;">Ver 2.2.5</div>
</div>
</ion-view>
